<div class="container fade-up">
    <span class="section-label" style="text-align:center; display:block">Hamkorlar</span>
    <div class="partners-track">
        <!-- Placeholders for Partner Logos -->
        <img src="assets/img/logo1.png" alt="Partner 1" class="partner-logo">
        <img src="assets/img/logo2.png" alt="Partner 2" class="partner-logo">
        <img src="assets/img/logo3.png" alt="Partner 3" class="partner-logo">
        <img src="assets/img/logo4.png" alt="Partner 4" class="partner-logo">
        <img src="assets/img/logo5.png" alt="Partner 5" class="partner-logo">
    </div>
</div>